<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases >
        <typeAlias type="edu.qingtai.pubandcollect.domain.Pubimpression" alias="Pubimpression"/>
        <typeAlias type="edu.qingtai.pubandcollect.domain.Collectimpression" alias="Collectimpression"/>
        <typeAlias type="edu.qingtai.pubandcollect.domain.Pubinterview" alias="Pubinterview"/>
        <typeAlias type="edu.qingtai.pubandcollect.domain.Collectinterview" alias="Collectinterview"/>
        <typeAlias type="edu.qingtai.pubandcollect.domain.Pubinfer" alias="Pubinfer"/>
        <typeAlias type="edu.qingtai.pubandcollect.domain.Collectinfer" alias="Collectinfer"/>
    </typeAliases>
</configuration>